nav{
    border-radius: 20px !important;
}
.container{
    margin-bottom: 80px;
}
.input {
    width: 420px;
    padding: 0px 60px;
}
.re{
    border-radius: 35px !important;
}
.dude {
    padding: 5px 90px;
}
/* .nav-item a{
    padding: 0px 10px !important;
} */
.pda{
    padding: 0px 0px 0px 0px !important;
    margin: 0px 10px;
}
.re{
    border-radius: 35px !important;
}
.bg-orange{
    background-color: #feeae9;
    border-radius: 14px;
}
.btn-buy-now{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 9px 25px;
    border-radius: 8px;
}
.btn-buy-now a{
   text-decoration: none;
   color: #fff;
}
.price{
    padding-bottom: 20px;
    color: #ff136f;
}
#email {
    padding: 6px 30px;
    border-radius: 5px;
    border: 2px solid white;
    width: 265px;
    margin-bottom: 10px;
}
.psa{
    padding: 40px 100px 20px 120px; 
} 
.dec{
    color: gray;
}
.hey{
    background-color: indianred;
    height: 130px;
    width: 250px;
    margin: 30px 50px;
    border-radius: 8px;
    color: #fff;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cat h1{
    color: #fff;
}
.cat img{
    width: 100px;
}
.cat1 , .watch{
    background-image: linear-gradient(120deg ,rgba(49, 9, 9, 0.247) 0%,orange 100%);
}
.cat2 , .bags{
    background-image: linear-gradient(120deg, rgba(143, 1, 1, 0.39) 0%,rgb(255, 45, 80) 100%);
}
.cat3 , .shoes{
    background-image: linear-gradient(120deg,rgba(255, 134, 134, 0.13) 0%,rgb(0, 0, 150) 100%);
}
.cat1:hover{
    background-image: linear-gradient(120deg ,orange 100%,rgba(49, 9, 9, 0.247) 0%);
}
.cat2:hover{
    background-image: linear-gradient(120deg,rgb(255, 45, 80) 100%,rgba(143, 1, 1, 0.39) 0%);
}
.cat3:hover{
    background-image: linear-gradient(120deg,rgba(0, 0, 150) 100%,rgb(255, 134, 134, 0.13) 0%);
}
.card{
    border: none;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 8px;
}
.card-footer{
    background-color: whitesmoke;
}
.btna{
    margin-bottom: 20px;
}
#sub{
    height: 300px;
    margin-bottom: 10px !important;
}
@media only screen and (max-width:280px){
    .psa{
        padding: 0px;
    }
    .dude {
     padding:  0px;
    }
 }
@media only screen and (max-width:320px){
   .psa{
       padding: 0px;
   }
   .dude {
    padding:  0px;
   }
}
@media only screen and (max-width:360px){
    .psa{
        padding: 0px;
    }
    .dude {
     padding:  0px;
 }
}
@media only screen and (max-width:375px){
    .psa{
        padding: 0px;
    }
    .dude {
        padding:  5px;
    }
 }
 @media only screen and (max-width:411px){
    .psa{
        padding: 0px;
    }
    .dude {
        padding:  5px;
    }
 }
 @media only screen and (max-width:414px){
    .psa{
        padding: 0px;
    }
    .dude {
        padding:  5px;
    }
 }
 @media only screen and (max-width:425px){
    .psa{
        padding: 0px;
    }
    .dude {
        padding:  5px;
    }
 }
 @media only screen and (max-width:600px){
    .psa{
        padding: 0px;
    }
    .dude {
        padding:  5px;
    }
 }
 /* @media only screen and (max-width:700px){
    .psa{
        padding: 10px; 
    }
    .dude {
        padding:  5px;
    }
 } */
 @media only screen and (max-width:730px){
    .psa{
        padding: 10px;
    }
    .dude {
        padding:  5px;
    }
 }
 @media only screen and (max-width:750px){
    .psa{
        padding: 10px;
    }
    .dude {
        padding:  5px;
    }
 }
 @media only screen and (max-width:767px){
    .psa{
        padding: 10px;
    }
    .dude {
        padding:  5px;
    }
 }
 @media only screen and (max-width:1024px){
   .dude{
       padding: 5px 5px;
   }
 }
 @media only screen and (max-width:1199px){
    .dude{
        padding: 5px 5px;
    }
  }